.Dapp {
  width: 360px;
  max-width: 360px;
}

.DappContent {
  padding: 8px 16px;
  width: 100%;
  font-size: 16px;
}

.DappList {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
}

.EmptyDapps {
  animation: fadeIn 1s;
  width: 100%;
  text-align: center;
  & > img {
    width: 100%;
    height: auto;
    max-width: 360px;
    opacity: 0.6;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
