## Uses .gitignore syntax and should mostly match that file
## so that we don't format what never ends up in SCM.

# artifacts
build
bundles
bundle-*.js
compiled
dist
lcov-report
public

# Opt out of these file types for now
*.html
*.json
*.md

# subrepos
/packages/xsnap/moddable
/packages/xsnap/xsnap-native

# copied from upstream
/packages/xsnap/lib/object-inspect.js

