## Uses .gitignore syntax and should mostly match that file
## so that we don't format what never ends up in SCM.

# artifacts
build
bundles
bundle-*.js
compiled
dist
lcov-report
public
/packages/cosmic-swingset/t[0-9]/
/packages/cosmic-swingset/t[0-9].*/

# Opt out of these file types for now
*.html
*.json
*.md

# selectively include instead of all .json because
# - many (such as tsconfig.json) allow trailing commas want to preserve but Prettier will remove per JSON
# - some have careful manual formatting such as a matrix and there's no safe way to have an ignore comment in JSON
!package.json

# subrepos
/packages/xsnap/moddable
/packages/xsnap/xsnap-native

# copied from upstream
/packages/xsnap/lib/object-inspect.js
