SECURITY.md @Agoric/security

# Disabled until we need it again (https://agoricopco.slack.com/archives/C038E5369FT/p1761730824478649?thread_ts=1761687795.856629&cid=C038E5369FT)

# * @Agoric/engprodexec
