.Amount {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
}

.Amount > img {
  margin-right: 16px;
}

.Left {
  float: left;
}

.Right {
  float: right;
}

.PurseProgressWrapper {
  height: 30px;
  text-align: center;
  width: 64px;
}
