@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  color: rgb(40, 34, 48);

  font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
  font-weight: 400;

  h6 {
    font-size: 18px;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: bold;
    margin: 0;
  }

  .text-gray {
    color: rgb(97, 97, 97);
  }

  p {
    margin: 0;
  }
}
