---
- hosts: validator
  user: root
  #any_errors_fatal: true
  gather_facts: yes
  serial: 1
  vars:
    - service: ag-chain-cosmos
    - data: '{{ SETUP_HOME }}/{{ service }}/data'
    - CHAIN_NAME: "{{ lookup('file', SETUP_HOME + '/' + service + '/chain-name.txt') }}"
    - STAKER: ag-staker
    - STAKER_NODE: validator0
    - STAKER_INIT_COINS: 62000000ubld
    - STAKER_SELF_DELEGATION: 50000000ubld
  roles:
    - cosmos-validators
