name: ag-solo on xs

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: cache node modules
      uses: actions/cache@v1
      with:
        path: ~/.cache/yarn
        key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
    - name: yarn install
      run: yarn install
    - name: yarn build
      run: yarn build
    - name: install moddable linux CLI SDK ag08
      run: |
        cd $HOME
        curl -L https://github.com/dckc/moddable/releases/download/ag08/moddable-linux-sdk.tgz | tar xzf -
    - name: install tape-xs
      # ISSUE: merge into agoric-sdk?
      run: |
        cd $HOME
        curl -L https://github.com/dckc/tape-xs/archive/ag01.tar.gz | tar xzf -
        mv tape-xs-ag01 tape-xs
        cd tape-xs
        yarn install
    - name: test eventual-send on xs
      run: |
        export MODDABLE=$HOME/moddable
        export PATH=$MODDABLE/build/bin/lin/release:$PATH
        export TAPE=$HOME/tape-xs
        cd packages/eventual-send
        node -r esm $TAPE/bin/tape-xs-build.js $PWD test/test*.js
        mcconfig -m -p x-cli-lin test-xs-manifest.json
        $MODDABLE/build/bin/lin/release/eventual-send
        # TODO: exit event loop when done
    - name: build and run ag-solo for xs
      run: |
        export MODDABLE=$HOME/moddable
        export PATH=$MODDABLE/build/bin/lin/release:$PATH
        cd packages/cosmic-swingset
        mcconfig -m -p x-cli-lin ag-solo-xs-manifest.json
        $MODDABLE/build/bin/lin/release/cosmic-swingset
        # TODO: fix `SyntaxError: import promisify not found` etc.
