name: Build release Docker Images

on:
  push:
    tags:
      - "@agoric/sdk@*"

jobs:
  docker-godeps:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Build Go dependencies image
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: agoric/cosmic-swingset
        dockerfile: packages/cosmic-swingset/Dockerfile
        context: packages/cosmic-swingset
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        snapshot: true
        tags: latest
  
  docker-sdk:
    needs: docker-godeps
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Build SDK image
      # needs agoric/cosmic-swingset:latest
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: agoric/agoric-sdk
        dockerfile: packages/deployment/Dockerfile.sdk
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        snapshot: true
        tags: latest
  
  docker-solo:
    needs: docker-sdk
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Build ag-solo image
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: agoric/cosmic-swingset-solo
        dockerfile: packages/cosmic-swingset/lib/ag-solo/Dockerfile
        context: packages/cosmic-swingset/lib/ag-solo
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        snapshot: true
        tags: latest

  docker-setup:
    needs: docker-sdk
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Build setup image
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: agoric/cosmic-swingset-setup
        dockerfile: packages/deployment/Dockerfile
        context: packages/deployment
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        snapshot: true
        tags: latest
  
  docker-setup-solo:
    needs: docker-solo
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Build setup-solo image
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: agoric/cosmic-swingset-setup-solo
        dockerfile: packages/cosmic-swingset/setup-solo/Dockerfile
        context: packages/cosmic-swingset/setup-solo
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        snapshot: true
        tags: latest
