name: Protobuf
# Protobuf runs buf (https://buf.build/) lint and check-breakage
# This workflow is only run when a .proto file has been changed
on:
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'
      - uses: technote-space/get-diff-action@v4
        with:
          PATTERNS: |
            **/**.proto
            **/buf*.yaml
      - name: lint
        run: make proto-lint
        working-directory: golang/cosmos
        if: env.GIT_DIFF
  breakage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'
      - uses: technote-space/get-diff-action@v4
        with:
          PATTERNS: |
            **/**.proto
            **/buf*.yaml
      - name: check-breakage
        run: make proto-check-breaking PR_TARGET_REPO=https://github.com/${{ github.repository }}.git PR_TARGET_BRANCH=${{ github.base_ref }}
        working-directory: golang/cosmos
        if: env.GIT_DIFF
