name: Test Golang

on:
  pull_request:
  merge_group:
  push:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  gotest:
    if: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.ref != 'codex/swing-store-ava-diag-flake' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/restore-golang
        with:
          go-version: '1.23'
      - name: go test
        run: cd golang/cosmos && go test -coverprofile=coverage.txt -covermode=atomic ./...
      - uses: ./.github/actions/post-test
        if: (success() || failure())
        continue-on-error: true
        timeout-minutes: 4
        with:
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
