name: Run scripts tests

on:
  pull_request:
  merge_group:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-scripts-tests:
    if: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.ref != 'codex/swing-store-ava-diag-flake' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: scripts/test/test.sh
