name: Test Golang

on:
  pull_request:
  merge_group:
  push:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# set ESM_DISABLE_CACHE=true (will be JSON parsed)
jobs:
  gotest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/restore-golang
        with:
          go-version: '1.22'
      - name: go test
        run: cd golang/cosmos && go test -coverprofile=coverage.txt -covermode=atomic ./...
      - uses: ./.github/actions/post-test
        if: (success() || failure())
        continue-on-error: true
        timeout-minutes: 4
        with:
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
